.itemone
{
    /* background-image: url("https://static.vecteezy.com/system/resources/thumbnails/004/697/688/small/curve-light-blue-background-abstract-free-vector.jpg"); */
    background-image: url("https://thumbs.dreamstime.com/b/cloud-background-pastel-colored-sun-cloud-background-pastel-colored-182808239.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
}
.itemtwo
{
    background-image: url("https://thumbs.dreamstime.com/b/cloud-background-pastel-colored-sun-cloud-background-pastel-colored-182808239.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
}
#main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-image: url("https://t4.ftcdn.net/jpg/02/87/11/31/360_F_287113142_8XLkz9kGNKWdvazBEgl8GoymDG5YBsa9.jpg"); */
  background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-cloud-background_41066-1948.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}